<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          {% if page.comments != true %}
          <div class="footer">
            <div class="contact">
              <p>
                <a href="https://github.com/baijian">github.com/baijian</a><br />
                <a href="https://twitter.com/jian_baij">twitter.com/jian_baij</a><br />
                Email:jian.baij#gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://about.me/baijian">about.me/baijian</a><br />
                <a href="http://weibo.com/jianbaij">weibo.com/jianbaij</a><br />
                <a href="books.html">Books-Reading</a>
              </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://qiangwang.github.io">一如既往</a><br/>
                    <a href="http://wanghd.com/">老虎的眼睛</a><br/>
                </p>
            </div>
            <div>
                <p>
                    <a href="http://www.zwsun.com/">阿文的自留地</a><br/>
                    <a href="http://www.deepwarm.com/">明兄的私房菜</a><br/>
                </p>
            </div>
          </div>
        </div>
        {% endif %}

    </body>
    {% if site.google_analytics_tracking_id and site.google_analytics_tracking_url %}
        {% include google_analytics.html %}
    {% endif %}
</html>
